html {
  background-color: #0e090d;
  color: white;
  font-family: "Poppins", sans-serif;

  // border: 1px solid #000;
  ::selection {
    background-color: #fb4566;
    color: #0e090d;
  }

  h1 {
    line-height: 1;
  }
}

* {
  .botao {
    display: flex;
    align-items: center;
    justify-content: center;

    .animated-link {
      display: flex;
      align-items: center;
      gap: 16px;
      text-decoration: none;
      position: relative;

      .circle {
        width: 12px;
        height: 12px;
        background-color: #fb4566;
        border-radius: 50%;
        position: relative;
        transition: all 0.3s ease-in-out;
        flex-shrink: 0;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background: url("../../assets/images/seta.svg") no-repeat center;
          background-size: contain;
          transform: translate(-50%, -50%) rotate(45deg);
          opacity: 0;
          transition: all 0.3s ease;
        }
      }

      .text-wrapper {
        position: relative;
        height: 24px;
        overflow: hidden;
      }

      .text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        line-height: 24px;
        transition: transform 0.4s ease, opacity 0.4s ease;
        display: block;
      }

      .text-top {
        color: #f1dada;
        transform: translateY(0);
        position: relative;
        z-index: 1;
      }

      .text-bottom {
        color: #fb4566;
        position: absolute;
        top: 100%; // Fora da view
        left: 0;
        transform: translateY(0);
        opacity: 0;
      }

      &:hover {
        .circle {
          transform: scale(2) rotate(-45deg);

          &::after {
            opacity: 1;
          }
        }

        .text-top {
          transform: translateY(-100%);
          opacity: 0;
        }

        .text-bottom {
          transform: translateY(-100%);
          opacity: 1;
        }
      }
    }
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0.5rem #98fe7f00;
  }

  100% {
    transform: scale(1.5);
    opacity: 0.5;
    box-shadow: 0 0 #98fe7f80;
  }
}

.home {
  .first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
    padding: 10px 7%;
    height: 50vh;

    .left {
      display: flex;
      flex-direction: column;
      line-height: 1;

      p {
        &#disponivel {
          font-style: italic;

          &::before {
            content: "";
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            background: #98fe7f;
            border-radius: 50%;
            margin: 0 0.5rem;
            vertical-align: middle;
            transform: translateY(-0.1em);
            animation: pulse-animation 2s infinite;
            animation-delay: 3s;
          }
        }
      }
    }

    .center {
      border: 1px solid #000;
      width: 550px;
      margin: 0 20px;
    }

    .right {
      line-break: auto;
    }

    h1 {
      font-family: "Mango Grotesque", sans-serif;
      font-weight: 500;
      font-size: 55px;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      padding: 5px 0;
      margin: 0;
      text-align: right;
    }
  }

  .second {
    margin-top: 10%;
    padding: 10px 10%;
    // height: 120vh;

    @media (max-width: 768px) {
      height: 0;
    }

    .texto {
      font-size: 28px;
      line-height: 1.5em;
      color: #f1dada;
      text-align: justify;

      p {
        span {
          font-weight: 700;
        }
      }
    }

    // .botao {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   .animated-link {
    //     display: flex;
    //     align-items: center;
    //     gap: 16px;
    //     text-decoration: none;
    //     position: relative;

    //     .circle {
    //       width: 12px;
    //       height: 12px;
    //       background-color: #fb4566;
    //       border-radius: 50%;
    //       position: relative;
    //       transition: all 0.3s ease-in-out;
    //       flex-shrink: 0;

    //       &::after {
    //         content: "";
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         width: 10px;
    //         height: 10px;
    //         background: url("../../assets/images/seta.svg") no-repeat center;
    //         background-size: contain;
    //         transform: translate(-50%, -50%) rotate(45deg);
    //         opacity: 0;
    //         transition: all 0.3s ease;
    //       }
    //     }

    //     .text-wrapper {
    //       position: relative;
    //       height: 24px;
    //       overflow: hidden;
    //     }

    //     .text {
    //       font-family: "Poppins", sans-serif;
    //       font-size: 18px;
    //       line-height: 24px;
    //       transition: transform 0.4s ease, opacity 0.4s ease;
    //       display: block;
    //     }

    //     .text-top {
    //       color: #f1dada;
    //       transform: translateY(0);
    //       position: relative;
    //       z-index: 1;
    //     }

    //     .text-bottom {
    //       color: #fb4566;
    //       position: absolute;
    //       top: 100%; // Fora da view
    //       left: 0;
    //       transform: translateY(0);
    //       opacity: 0;
    //     }

    //     &:hover {
    //       .circle {
    //         transform: scale(2) rotate(-45deg);

    //         &::after {
    //           opacity: 1;
    //         }
    //       }

    //       .text-top {
    //         transform: translateY(-100%);
    //         opacity: 0;
    //       }

    //       .text-bottom {
    //         transform: translateY(-100%);
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
  }

  .third {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 8%;

    .divisoria {
      border-bottom: 1px solid #f1dada1a;
      max-width: 350px;
      width: 100%;
    }

    .texto {
      text-align: center;
      width: 400px;

      h2 {
        font-family: "Mango Grotesque", sans-serif;
        font-size: 45px;
        font-weight: 400;
      }

      p {
        font-family: "Poppins", sans-serif;
      }
    }
  }

  .fourth {
    .section {
      position: relative;
      // height: 100vh;

      .motion {
        // position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        // height: 100vh;

        .motion-div {
          display: flex;
          gap: 2rem;
          width: max-content;
        }

        .cards {
          flex: 0 0 auto;
        }
      }
    }

    .cards {
      position: relative;
      height: 250px;
      width: 450px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;

      .card {
        position: absolute;
        inset: 0;
        z-index: 0;
        transition: transform 0.3s ease-in-out;
      }

      .box {
        position: absolute;
        inset: 0;
        z-index: 10;
        display: grid;
        place-content: center;

        p {
          font-size: 50px;
          font-family: "Lora", serif;
        }
      }

      .circulo {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #fb4566;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        padding: 2px;
      }
    }
  }
}

.trabalho {
  width: 77%;
  margin: 0 auto;

  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .card {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 2% 5%;
      border: 1px solid #fb4566;
      border-radius: 15px;
      text-align: justify;
      margin: 30px 0;

      &.card2 {
        border: 1px solid rgba(241, 218, 218, 0.1);
      }

      h1 {
        font-family: "Mango Grotesque", sans-serif;
        font-size: 32px;
      }

      h2 {
        font-size: 28px;
        font-family: "Mango Grotesque", sans-serif;
        margin-top: 0;
      }

      h3 {
        font-family: "Lora", sans-serif;
        font-size: 14px;
      }

      p {
        font-family: "Poppins", sans-serif;
      }
    }
  }
}

.sobre-mim {
  margin-top: 3rem;
  padding: 10px 8%;
  display: flex;
  flex-direction: column;

  .section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .imagem {
      border: 1px solid #000;
      width: 25%;
    }

    .texto {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 70%;
      font-size: 22px;
      line-height: 1.5em;
      color: #f1dada;
      text-align: justify;

      @media (max-width: 840px) {
        margin: 0 auto 0 0
      }

      h1 {
        width: 70%;
        text-align: left;
        font-weight: 400;
      }

      p {
        span {
          font-weight: 700;
        }
      }

      .botao {
        margin-right: auto;
      }
    }
  }

  .divisoria {
    display: flex;
    font-family: "Mango Grotesque ExtLt", sans-serif;
    font-weight: 200;

    h2 {
      font-weight: 200;
      text-align: left;
      color: rgba(241, 218, 218, 0.6);
      font-family: "Poppins", sans-serif;
      font-size: 18px;
    }

    .linha {
      border-bottom: 1px solid rgba(241, 218, 218, 0.6);
      width: 100%;
      margin: 0 0 25px 12px;
    }
  }

  .habilidades {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: "Poppins", sans-serif;
    }

    .boxes {
      display: grid;
      grid-template-areas:
        "a b"
        "a b"
        "c d"
        "c d";
      width: 70%;
      margin-left: auto;
      gap: 0;

      @media (max-width: 840px) {
        margin: 0 auto 0 0;
        grid-template-areas:
          "a a"
          "b b"
          "b b"
          "c c"
          "c c"
          "d d"
          "d d";
      }

      .box {
        width: 100%;

        h2 {
          font-family: "Lora", sans-serif;
        }

        ul {
          list-style-type: none;
          padding: 0;

          li {
            margin-left: 5px;
            padding: 0;
            font-family: "Poppins", sans-serif;
            color: rgba(241, 218, 218, 0.8);
          }
        }

        &.box1 {
          grid-area: a;
        }

        &.box2 {
          grid-area: b;
        }

        &.box3 {
          grid-area: c;
        }

        &.box4 {
          grid-area: d;
        }
      }
    }
  }

  .ferramentas {
    .texto {
      .linguagens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin-left: auto;

        @media (max-width: 840px) {
          margin: 0 auto 0 0
        }

        span {
          display: flex;
          margin: 0 5px;
          font-size: 28px;
          font-family: "Poppins", sans-serif;
          line-height: 2.5;

          &::after {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            display: flex;
            align-self: center;
            margin: 0 1rem;
            border-radius: 50%;
            background: #fb4566;
          }
        }
      }
    }
  }

  .experiencia {
    padding-bottom: 10rem;

    .trabalhos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 70%;
      margin-left: auto;

      @media (max-width: 840px) {
        margin: 0 auto 0 0
      }

      .direita {
        display: flex;
        flex-direction: column;

        .linha {
          padding: 0 0.5rem;
          // border: 1px solid #000;

          .titulo {
            display: flex;
            align-items: center;
            align-content: center;
            color: #f1dada;

            h3 {
              font-family: 'Poppins', serif;
              font-size: 28px;
              color: #f1dada;
              font-weight: 500;
            }

            span {
              font-family: 'Lora', sans-serif;
              font-weight: 200;
              margin-left: 10px;
              color: #f1dadacc;
              font-size: 18px;
            }
          }

          .data {
            color: #f1dadacc;

            span {
              font-family: "Poppins'", sans-serif;
              margin-right: 15px;

            }

            i {
              border: 1px solid #000;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}