header {
  font-family: "Mango Grotesque ExtLt", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}
header.hide {
  transform: translateY(-100%);
}
header.show {
  transform: translateY(0);
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5%;
  background-color: #0e090d;
}
header .menu #nome {
  font-size: 30px;
  color: #f1dada;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
header .menu .nav {
  display: flex;
  gap: 30px;
  list-style: none;
}
header .menu .nav .nav-item .animated-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #f1dada;
  font-size: 24px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
header .menu .nav .nav-item .animated-link .text-wrapper {
  position: relative;
  height: 24px;
  overflow: hidden;
}
header .menu .nav .nav-item .animated-link .text-wrapper .text {
  display: block;
  transition: transform 0.4s;
}
header .menu .nav .nav-item .animated-link .text-wrapper .text-top {
  transform: translateY(0%);
}
header .menu .nav .nav-item .animated-link .text-wrapper .text-bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}
header .menu .nav .nav-item .animated-link .circle {
  width: 4px;
  height: 4px;
  background: #fb4566;
  border-radius: 50%;
  margin-top: 6px;
  transition: all 0.3s ease-in-out;
}
header .menu .nav .nav-item .animated-link:hover .text-top {
  transform: translateY(-100%);
}
header .menu .nav .nav-item .animated-link:hover .text-bottom {
  transform: translateY(0%);
}