html {
  background-color: #0e090d;
  color: white;
  font-family: "Poppins", sans-serif;
}
html ::-moz-selection {
  background-color: #fb4566;
  color: #0e090d;
}
html ::selection {
  background-color: #fb4566;
  color: #0e090d;
}
html h1 {
  line-height: 1;
}

* .botao {
  display: flex;
  align-items: center;
  justify-content: center;
}
* .botao .animated-link {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  position: relative;
}
* .botao .animated-link .circle {
  width: 12px;
  height: 12px;
  background-color: #fb4566;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
}
* .botao .animated-link .circle::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  background: url("../../assets/images/seta.svg") no-repeat center;
  background-size: contain;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.3s ease;
}
* .botao .animated-link .text-wrapper {
  position: relative;
  height: 24px;
  overflow: hidden;
}
* .botao .animated-link .text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  display: block;
}
* .botao .animated-link .text-top {
  color: #f1dada;
  transform: translateY(0);
  position: relative;
  z-index: 1;
}
* .botao .animated-link .text-bottom {
  color: #fb4566;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(0);
  opacity: 0;
}
* .botao .animated-link:hover .circle {
  transform: scale(2) rotate(-100deg);
}
* .botao .animated-link:hover .circle::after {
  opacity: 1;
}
* .botao .animated-link:hover .text-top {
  transform: translateY(-100%);
  opacity: 0;
}
* .botao .animated-link:hover .text-bottom {
  transform: translateY(-100%);
  opacity: 1;
}
* .transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: #fb4566;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transform: translateY(100%);
  pointer-events: none;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 0.5rem rgba(152, 254, 127, 0);
  }
  100% {
    transform: scale(1.5);
    opacity: 0.5;
    box-shadow: 0 0 rgba(152, 254, 127, 0.5019607843);
  }
}
.home .first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
  padding: 10px 7%;
  height: 50vh;
}
.home .first .left {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.home .first .left p#disponivel {
  font-style: italic;
}
.home .first .left p#disponivel::before {
  content: "";
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  background: #98fe7f;
  border-radius: 50%;
  margin: 0 0.5rem;
  vertical-align: middle;
  transform: translateY(-0.1em);
  animation: pulse-animation 2s infinite;
  animation-delay: 3s;
}
.home .first .center {
  border: 1px solid #000;
  width: 550px;
  margin: 0 20px;
}
.home .first .right {
  line-break: auto;
}
.home .first h1 {
  font-family: "Mango Grotesque", sans-serif;
  font-weight: 500;
  font-size: 55px;
}
.home .first p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px 0;
  margin: 0;
  text-align: right;
}
.home .second {
  margin-top: 10%;
  padding: 10px 10%;
}
@media (max-width: 768px) {
  .home .second {
    height: 0;
  }
}
.home .second .texto {
  font-size: 28px;
  line-height: 1.5em;
  color: #f1dada;
  text-align: justify;
}
.home .second .texto p span {
  font-weight: 700;
}
.home .third {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 8%;
}
.home .third .divisoria {
  border-bottom: 1px solid rgba(241, 218, 218, 0.1019607843);
  max-width: 350px;
  width: 100%;
}
.home .third .texto {
  text-align: center;
  width: 400px;
}
.home .third .texto h2 {
  font-family: "Mango Grotesque", sans-serif;
  font-size: 45px;
  font-weight: 400;
}
.home .third .texto p {
  font-family: "Poppins", sans-serif;
}
.home .fourth .section {
  position: relative;
}
.home .fourth .section .motion {
  top: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.home .fourth .section .motion .motion-div {
  display: flex;
  gap: 2rem;
  width: -moz-max-content;
  width: max-content;
}
.home .fourth .section .motion .cards {
  flex: 0 0 auto;
}
.home .fourth .cards {
  position: relative;
  height: 250px;
  width: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.home .fourth .cards .card {
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}
.home .fourth .cards .box {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: grid;
  place-content: center;
}
.home .fourth .cards .box p {
  font-size: 50px;
  font-family: "Lora", serif;
}
.home .fourth .cards .circulo {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fb4566;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  padding: 2px;
}

.trabalho {
  width: 77%;
  margin: 0 auto;
}
.trabalho .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.trabalho .cards .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 2% 5%;
  border: 1px solid #fb4566;
  border-radius: 15px;
  text-align: justify;
  margin: 30px 0;
}
.trabalho .cards .card.card2 {
  border: 1px solid rgba(241, 218, 218, 0.1);
}
.trabalho .cards .card h1 {
  font-family: "Mango Grotesque", sans-serif;
  font-size: 32px;
}
.trabalho .cards .card h2 {
  font-size: 28px;
  font-family: "Mango Grotesque", sans-serif;
  margin-top: 0;
}
.trabalho .cards .card h3 {
  font-family: "Lora", sans-serif;
  font-size: 14px;
}
.trabalho .cards .card p {
  font-family: "Poppins", sans-serif;
}

.sobre-mim {
  margin-top: 3rem;
  padding: 10px 8%;
  display: flex;
  flex-direction: column;
}
.sobre-mim .section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sobre-mim .section-1 .imagem {
  border: 1px solid #000;
  width: 25%;
}
.sobre-mim .section-1 .texto {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 70%;
  font-size: 22px;
  line-height: 1.5em;
  color: #f1dada;
  text-align: justify;
}
@media (max-width: 840px) {
  .sobre-mim .section-1 .texto {
    margin: 0 auto 0 0;
  }
}
.sobre-mim .section-1 .texto h1 {
  width: 70%;
  text-align: left;
  font-weight: 400;
}
.sobre-mim .section-1 .texto p span {
  font-weight: 700;
}
.sobre-mim .section-1 .texto .botao {
  margin-right: auto;
}
.sobre-mim .divisoria {
  display: flex;
  font-family: "Mango Grotesque ExtLt", sans-serif;
  font-weight: 200;
}
.sobre-mim .divisoria h2 {
  font-weight: 200;
  text-align: left;
  color: rgba(241, 218, 218, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.sobre-mim .divisoria .linha {
  border-bottom: 1px solid rgba(241, 218, 218, 0.6);
  width: 100%;
  margin: 0 0 25px 12px;
}
.sobre-mim .habilidades {
  display: flex;
  flex-direction: column;
}
.sobre-mim .habilidades h2 {
  font-family: "Poppins", sans-serif;
}
.sobre-mim .habilidades .boxes {
  display: grid;
  grid-template-areas: "a b" "a b" "c d" "c d";
  width: 70%;
  margin-left: auto;
  gap: 0;
}
@media (max-width: 840px) {
  .sobre-mim .habilidades .boxes {
    margin: 0 auto 0 0;
    grid-template-areas: "a a" "b b" "b b" "c c" "c c" "d d" "d d";
  }
}
.sobre-mim .habilidades .boxes .box {
  width: 100%;
}
.sobre-mim .habilidades .boxes .box h2 {
  font-family: "Lora", sans-serif;
}
.sobre-mim .habilidades .boxes .box ul {
  list-style-type: none;
  padding: 0;
}
.sobre-mim .habilidades .boxes .box ul li {
  margin-left: 5px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: rgba(241, 218, 218, 0.8);
}
.sobre-mim .habilidades .boxes .box.box1 {
  grid-area: a;
}
.sobre-mim .habilidades .boxes .box.box2 {
  grid-area: b;
}
.sobre-mim .habilidades .boxes .box.box3 {
  grid-area: c;
}
.sobre-mim .habilidades .boxes .box.box4 {
  grid-area: d;
}
.sobre-mim .ferramentas .texto .linguagens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
}
@media (max-width: 840px) {
  .sobre-mim .ferramentas .texto .linguagens {
    margin: 0 auto 0 0;
  }
}
.sobre-mim .ferramentas .texto .linguagens span {
  display: flex;
  margin: 0 5px;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  line-height: 2.5;
}
.sobre-mim .ferramentas .texto .linguagens span::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  align-self: center;
  margin: 0 1rem;
  border-radius: 50%;
  background: #fb4566;
}
.sobre-mim .experiencia {
  padding-bottom: 10rem;
}
.sobre-mim .experiencia .trabalhos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
}
@media (max-width: 840px) {
  .sobre-mim .experiencia .trabalhos {
    margin: 0 auto 0 0;
  }
}
.sobre-mim .experiencia .trabalhos .direita {
  display: flex;
  flex-direction: column;
}
.sobre-mim .experiencia .trabalhos .direita .linha {
  padding: 0 0.5rem;
}
.sobre-mim .experiencia .trabalhos .direita .linha .titulo {
  display: flex;
  align-items: center;
  align-content: center;
  color: #f1dada;
}
.sobre-mim .experiencia .trabalhos .direita .linha .titulo h3 {
  font-family: "Poppins", serif;
  font-size: 28px;
  color: #f1dada;
  font-weight: 500;
}
.sobre-mim .experiencia .trabalhos .direita .linha .titulo span {
  font-family: "Lora", sans-serif;
  font-weight: 200;
  margin-left: 10px;
  color: rgba(241, 218, 218, 0.8);
  font-size: 18px;
}
.sobre-mim .experiencia .trabalhos .direita .linha .data {
  color: rgba(241, 218, 218, 0.8);
}
.sobre-mim .experiencia .trabalhos .direita .linha .data span {
  font-family: "Poppins'", sans-serif;
  margin-right: 15px;
}
.sobre-mim .experiencia .trabalhos .direita .linha .data i {
  border: 1px solid #000;
  font-size: 12px;
  font-weight: 400;
}